# Replicate API Key
REPLICATE_API_KEY=r8_2xuTsg3T6fTrXPe28SivUS9etm4Tezy4ITHVo
NEXT_PUBLIC_UPLOAD_API_KEY=public_kW2K8LPF7HKpwzDQSQyjjXUxKqz8

# Supabase API Key
SUPABASE_URL=https://jyxkboiztqnrtorwkowp.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp5eGtib2l6dHFucnRvcndrb3dwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDUzNzAxODAsImV4cCI6MjA2MDk0NjE4MH0.B3uu6HayJJu7OtX13UMHSKh3mQJaxqCsFD8Yvtc5zYY

# Optional, if you're doing rate limiting
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
