# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

/.vscode
# typescript
*.tsbuildinfo
next-env.d.ts
.env

# Imagens da pasta public
# Ignorar todas as imagens na pasta public, exceto as especificadas
/public/*.png
/public/*.jpg
/public/*.jpeg
/public/*.gif
/public/*.svg
/public/*.webp
# Exceções - imagens que devem ser incluídas no repositório
!/public/favicon.ico
!/public/og-image.png
!/public/vercel.svg
!/public/vercelLogo.svg
!/public/vercelLogo.png
!/public/bed.svg
!/public/default-avatar.svg
!/public/number-1-blue.svg
!/public/number-1-white.svg
!/public/number-2-blue.svg
!/public/number-2-white.svg
!/public/number-3-blue.svg
!/public/number-3-white.svg
!/public/logoroomin1.png
